---
// index.astro
import Header from "../components/Header.astro";
import SlideBar from "../components/SlideBar.astro";
---

<Header />
<SlideBar />
<main>
  <!-- El contenido principal de tu página va aquí -->
</main>
